/* Стили обнуления из курса*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

/* --------------- */

// Подключаемые стили
// @import "nullstyle.scss";
// @import "mixin.scss";

// ШРИФТЫ
// Подключаемые шрифты
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=PT+Serif:wght@400;700&display=swap');
// Скаченные шрифты

// Шрифт по умолчанию
$fontfamily: 'Montserrat';

body {
	font-family: $fontfamily;
}

//ШАБЛОНЫ

// ПЕРЕМЕННЫЕ
// $maxw: 1170;
// $minw: 320px;
// $md1: $maxw+12;
// $md2: 992.98;
// $md3: 767.98;
// $md4: 479.98;

// ОБЩИЕ СТИЛИ
// .page {
// 	font-family: $fontfamily;

// 	&__wrapper {
// 		min-height: 100%;
// 		overflow: hidden;
// 	}

// 	&__conteiner {
// 		// outline: 1px solid black;
// 		max-width: $maxw+px;
// 		margin: 0 auto;
// 		width: 100%;
// 		padding: 0 0 20px 0;
// 		border-bottom: 1px dashed #888;

// 		@media(max-width: $md1+px) {
// 			max-width: 970px;
// 		}

// 		@media(max-width: $md2+px) {
// 			max-width: 750px;
// 		}

// 		@media(max-width: $md3+px) {
// 			max-width: none;
// 			padding: 0 10px;
// 		}
// 	}

// 	&--lock {
// 		overflow: hidden;
// 	}
// }

// .ibg {
// 	background-position: center;
// 	background-size: cover;
// 	background-repeat: no-repeat;

// 	// position: relative;
// 	& img {
// 		display: none;
// 		// width: 0;
// 		// height: 0;
// 		// position: absolute;
// 		// top: 0;
// 		// left: 0;
// 		// opacity: 0;
// 		// visibility: hidden;
// 	}
// }

// .btn {
// 	display: inline-block;
// 	padding: 0 30px;
// 	background-color: #007397;
// 	color: #ffffff;
// 	font-size: 16px;
// 	font-weight: 700;
// 	letter-spacing: 1px;
// 	height: 56px;
// 	line-height: 56px;
// 	text-transform: uppercase;
// 	min-width: 270px;
// 	text-align: center;
// 	overflow: hidden;
// 	position: relative;

// 	span {
// 		position: relative;
// 		z-index: 1;
// 	}

// 	&::after {
// 		content: '';
// 		background-color: #014d64;
// 		width: 0;
// 		height: 100%;
// 		position: absolute;
// 		top: 0;
// 		left: 50%;
// 		@include anim(0.5s, 0s);
// 	}

// 	&:hover {
// 		&::after {
// 			width: 100%;
// 			left: 0;
// 		}
// 	}

// 	@media(max-width: $md1+px) {
// 		font-size: 14px;
// 		height: 46px;
// 		line-height: 46px;
// 	}

// 	@media(max-width: $md3+px) {
// 		@include flexbox();
// 		justify-content: center;
// 		align-items: center;
// 		font-size: 14px;
// 		height: 46px;
// 		line-height: 16px;
// 	}
// }

// input[type=text],
// input[type=email],
// input[type=tel],
// textarea {
// 	-webkit-appearance: none;
// 	-moz-appearance: none;
// 	appearance: none;
// }

// .input {
// 	border-radius: 0;
// 	width: 100%;
// 	display: block;
// 	padding: 0px 0px;

// 	// &.focus {}

// 	// &.err {}
// }

// textarea.input {
// 	resize: none;
// 	padding: 0px 0px;
// }

// HEADER
.header {

	&__title a,
	&__subtitle {
		color: gray;
	}

}

// CONTENT
.main {

	&__title {
		color: maroon;

		&~div {
			color: red;
		}

		&+div {
			color: chocolate;
		}

	}

	&__body {}
}

.article {

	& span {
		color: black;
	}

	& .article__text.text-1 {
		color: darkorange;
	}

	.article__text.text-2 {
		& span {
			color: deeppink;
		}

		color: darkorchid;
	}

	&__text {
		&.text-3>span {
			color: blue;
		}
	}

	&__title {}

	&__list {
		span {
			color: coral;
		}

		>* {
			color: gold;
		}
	}
}

h2.size-2 {
	color: dodgerblue;
}

img+h3 {
	color: darkolivegreen;
}

h3+p {
	color: darkred;
}

.text-4 span {
	color: lawngreen;
}

.text-5,
.text-6,
	{
	color: olive;
}

.text-5 span,
.text-6 span {
	color: orangered;
}

h4 {
	color: sienna;
}

h4~p {
	color: teal;
}

#img-3+p {
	color: goldenrod;
}

// FOOTER

.footer {

	&__copy {
		color: purple;

		a {
			color: royalblue;
		}
	}

	&__link {}
}